<meta charset="utf-8">

<title>TinyApp</title>

<form action="/login" method="POST" style="margin:30px;">

    <label for="username">Username: </label>
    <input type="text" name="username">
    <button>Submit</button>

</form>