<meta charset="utf-8">

<title>TinyApp</title>

<% if (username === undefined) {%>

<form action="/login" method="POST" style="margin:30px;">

    <label for="username">Username: </label>
    <input type="text" name="username">
    <button>Login</button>

</form>

<% } else { %>

    <%=username%>
    <form action="/logout" method="POST">

    <button>Log Out</button>

    </form>

<% } %>