<% if (user_id === undefined) { %>
  <a href="/login">Login</a>
  <a href="/register">Register</a>
<% } else { %>
  <%=user.email%>
  <form action="/logout" method="POST">
    <button>Log Out</button>
  </form>
<% }; %>
