  <!DOCTYPE html>
<html lang="en">


<head>
  <title>TinyApp</title>
    <% include partials/_header %>

</head>


<body>

    <!-- Add your EJS code here -->

    <ul>
      <% for (url in urls) { %>
        <li><%= urls[url] %> - <%= url %></li>
        <form method="POST" action="/urls/<%=url%>/delete">
          <input type="submit" value="Delete">
        </form>
      <% }; %>
      <a> href='#' </a>
    </ul>

</body>

</html>