<!DOCTYPE html>
<html lang="en">


<head>
  <title>TinyApp</title>
    <% include partials/_header %>


</head>


<body>

    <!-- Add your EJS code here -->

    <ul>

        <%= longURL %> - <%= shortURL %>

    </ul>

</body>

</html>