<form action="/login" method="POST" style="margin:30px;">

    <label for="email">Email: </label>
    <input id="email" type="email" name="email" placeholder="your email">
    <input id="password" type="password" name="password" placeholder="password">
    <button>Login</button>

</form>